p {
	font-family: "Times New Roman";
	font-size: 13px;
	line-height: 20px;
}
p {
    font: 13px/20px "Times New Roman";
}


p {
	width: 300px;
	font-family: Arial;
	color: red;
	font-size: 40px;
	font-weight: bold;
}
p {
    color: red;
    font: bold 300px 40px Arial;
}


p {
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	text-indent: 50px;
	font-style: italic;
	line-height: 60px;
}
p {
    font: italic bold 40px/60px Arial;
    text-indent: 50px;
}